<template>
    <div class="about">
        <b-container>
            <b-jumbotron header="Micronaut Raffle" lead="a Groogle application example">
                <p>For more information visit our website</p>
                <b-btn variant="primary" href="https://puravida-software.gitlab.io/">More Info</b-btn>
            </b-jumbotron>
        </b-container>
    </div>
</template>
