<template>
    <div>
        <HelloWorld/>
        <StepsHelp/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import HelloWorld from '@/components/HelloWorld.vue'
    import StepsHelp from '@/components/StepsHelp.vue'

    export default {
        name: 'Home',
        components: {
            HelloWorld,
            StepsHelp
        }
    }
</script>
