<template>
    <div class="container">
        <b-row>
            <UserPanel/>
        </b-row>
        <b-row>
            <SheetInput/>
        </b-row>
        <b-row>
            <b-col>
                <Participants/>
            </b-col>
            <b-col>
                <Prizes/>
            </b-col>
        </b-row>
        <WinnerModal/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import UserPanel from '@/components/UserPanel'
    import SheetInput from '@/components/SheetInput'
    import Prizes from '@/components/Prizes'
    import Participants from '@/components/Panticipants'
    import WinnerModal from '@/components/WinnerModal'

    export default {
        name: 'Raffle',
        components: {
            UserPanel,
            SheetInput,
            Prizes,
            Participants,
            WinnerModal
        }
    }
</script>
