<template>
    <b-container>
        <b-jumbotron header="Identification" lead="In order to access our service, you need to authenticate with Google">
            <b-button @click="loginGoogle" variant="outline-primary">Google Auth</b-button>
        </b-jumbotron>
    </b-container>

</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import router from '../router'

    @Component
    export default class LoginPanel extends Vue {

        loginGoogle() {
            if( !process.env.VUE_APP_DEV )
                window.location.href = process.env.VUE_APP_API_URL + `oauth/login/google`
            else
                router.push('raffle')
        }

    }
</script>
