<template>
    <div>
        <b-table small :items="$store.state.prizes" :busy="$store.state.loader.loading>0" class="mt-3" outlined>
            <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>
            <template v-slot:head(name)>
                <span class="text-dark"> <b-icon-trophy></b-icon-trophy> Prizes </span>
            </template>
            <template v-slot:cell(name)="data">
                <b-link  class="text-info" @click="data.item.quantity ? $store.state.prize = data.value : true">{{ data.value.toUpperCase() }} </b-link>
            </template>
        </b-table>
        <b-button class="btn btn-warning" v-show="$store.state.prize" @click="raffle($store.state.prize)"> Rafle <b-icon-arrow-right></b-icon-arrow-right> {{$store.state.prize}} <b-icon-gift></b-icon-gift></b-button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'

    @Component({

    })
    export default class Prices extends Vue {

        raffle( prize: string){
            this.$store.dispatch('raffle', prize)
        }
        created(){
            this.$store.dispatch('fetchPrizes')
        }

    }
</script>
