<template>
    <b-form inline @submit="load"  v-if="$store.state.user.name" class = "mb-5">
            <b-input-group prepend="SheetId" class="col-6">
                <b-form-input
                        id="inline-form-input-sheet"
                        v-model="$store.state.googleForm.sheetId"
                        required
                        placeholder="1111-xxxxxx"
                ></b-form-input>
            </b-input-group>

            <b-input-group class ="col-4" prepend="Tab">
                <b-form-input
                        id="inline-form-input-tab"
                        v-model="$store.state.googleForm.tabId"
                        required
                        placeholder="Sheet 1"
                ></b-form-input>
            </b-input-group>
           <component v-bind:is="component" />
           <b-button  type="submit" variant="primary" >Submit <b-icon-box-arrow-down></b-icon-box-arrow-down></b-button>
    </b-form>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class SheetInput extends Vue {

        private busy = false

        load() {
            this.$store.dispatch('fetchPrizes')
            this.$store.dispatch('fetchParticipants')
        }

    }
</script>

