<template>
    <div class="container">
        <b-row>
            <b-col>
                <b-card
                        title="Google Sheet"
                        class="mb-2">
                    <b-card-text>
                        Create a Google Sheet similar to following picture
                    </b-card-text>
                    <template v-slot:footer>
                        <b-button href="#"  variant="outline-primary">Drive</b-button>
                    </template>
                </b-card>
            </b-col>
            <b-col>
                <b-card
                        title="Register"
                        class="mb-2">
                    <b-card-text>
                        Register
                    </b-card-text>
                    <template v-slot:footer>
                        <em>xxxxx@yyyyyyy.com</em>
                    </template>
                </b-card>
            </b-col>
            <b-col>
                <b-card
                        title="Login"
                        class="mb-2">
                    <b-card-text>
                        Authenticate into our application
                    </b-card-text>
                    <template v-slot:footer>
                        <b-button to="login" variant="outline-primary">Login</b-button>
                    </template>
                </b-card>
            </b-col>
            <b-col>
                <b-card
                        title="Raffle"
                        class="mb-2">
                    <b-card-text>
                        Raffle as many prices you want into your assistants
                    </b-card-text>
                    <template v-slot:footer>
                        <b-button to="raffle" variant="outline-success">Raffle</b-button>
                    </template>
                </b-card>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <img src="../assets/raffle.png"/>
            </b-col>
        </b-row>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class StepsHelp extends Vue {

    }
</script>
